<%- include("header") -%>
<div>
    <h2>About me</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae culpa et nulla iusto deserunt atque molestias eveniet commodi natus placeat? Quae illum consequuntur, quam tempore sint harum ipsam perferendis reprehenderit?</p>
</div>

<%- include("footer") -%>