footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.form-floating input {
    border: none;
}

button.rounded-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

form[name="myForm"], form.input-container {
    display: flex;
    gap: 2rem;
}

.row:nth-child(1) {
    flex: 1;
}

.row:nth-child(2) {
    flex: 2;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}